<div class="d-flex flex-column justify-content-center w-50 m-auto">
    <h3 class="text-center my-5">Login</h3>

    <!-- template driven form  -->
    <form #loginform="ngForm" (ngSubmit)="submitfun(loginform)">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                name="useremail"
                ngModel
                #useremail = "ngModel"
                required
                pattern = [a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$

            />
            <div id="emailHelp" class="form-text text-danger" *ngIf="useremail.touched && useremail.invalid">
                <small *ngIf="useremail?.errors?.['required']">Email is required</small>
                <small *ngIf="useremail?.errors?.['pattern']">Email not valid</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                id="Password"
                aria-describedby="passwordHelp"
                name="password"
                ngModel
                #password = "ngModel"
                required
                pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@_!%&*?])[A-Za-z\d#$@_!%&*?]{8,}$"
            />
            <div id="passwordHelp" class="form-text text-danger" *ngIf="password.touched && password.invalid">
                <small *ngIf="password?.errors?.['required']">Password is requird</small>
                <small *ngIf="password?.errors?.['pattern']">password must contains numbers, capital and small letters and special characters</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginform.invalid" routerLink="">Login</button>
    </form>

    <h6 class="text-center my-5">Don't have account? <a routerLink="/register">Register</a></h6>
</div>

